<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <title>NailsPro💅🏻</title>
</head>

<style>
    .bg-container {
    /* Background image */
    background-image: url('https://images.unsplash.com/photo-1632345031435-8727f6897d53?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    /* Full height */
    height: 70vh;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Add the blur effect */
    filter: blur(2px);
}

</style>


<!-- header -->
<body>
    <header class="fixed-top">
        <nav class="navbar navbar-expand-lg navbar-custom">
            <div class="container-fluid">
                <!-- Logo and Brand -->
                <a class="navbar-brand d-flex align-items-center" href="{{url_for('home')}}">
                    <img src="https://img.icons8.com/pulsar-color/96/nails.png" alt="Logo"/>
                    <span class="ms-2 fw-bold">NailsPro</span>
                </a>
                <!-- Toggler/collapsible Button -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Navbar links -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('turnos_cliente')}}">hola, {{ session['nombre'] }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('logout') }}"><img width="24" height="24" src="https://img.icons8.com/material-sharp/48/exit.png" alt="exit"/>Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
<!-- Background Container -->
<div class="bg-container"></div>
<!-- Overlay Container -->
<div class="overlay">
<div class="content">
    <h1>Welcome to NailsPro</h1>
    <p>the art of manicure</p>
</div>
</div>
<!-- main -->
    <main>
        <p class="title-precios">Nuestros precios</p>
        <div class="container-fluid precios">
            <div class="card precios-card">
                <div class="card-body">
                    <h5 class="card-title">Esmalte Semipermanente</h5>
                    <p class="card-text p-precios"><img width="48" height="48" src="https://img.icons8.com/color/48/price-tag-usd--v1.png" alt="price-tag-usd--v1"/> Precio: $9000</p>
                </div>
            </div>
            <div class="card precios-card">
                <div class="card-body">
                    <h5 class="card-title">Kapping Gel</h5>
                    <p class="card-text p-precios"><img width="48" height="48" src="https://img.icons8.com/color/48/price-tag-usd--v1.png" alt="price-tag-usd--v1"/> Precio: $12000</p>
                </div>
           </div>
            <div class="card precios-card">
                <div class="card-body">
                    <h5 class="card-title">Uñas esculpidas hasta n° 2</h5>
                    <p class="card-text p-precios"><img width="48" height="48" src="https://img.icons8.com/color/48/price-tag-usd--v1.png" alt="price-tag-usd--v1"/> Precio: $15000</p>
                </div>
            </div>
            <div class="card precios-card">
                <div class="card-body">
                    <h5 class="card-title">Full Deco</h5>
                    <p class="card-text p-precios"><img width="48" height="48" src="https://img.icons8.com/color/48/price-tag-usd--v1.png" alt="price-tag-usd--v1"/>Precio: $20000</p>
                </div>
            </div>
            <div class="card precios-card">
                <div class="card-body">
                    <h5 class="card-title">Uñas esculpidas + Nails Art</h5>
                    <p class="card-text p-precios"><img width="48" height="48" src="https://img.icons8.com/color/48/price-tag-usd--v1.png" alt="price-tag-usd--v1"/> Precio: $19000</p>
                </div>
            </div>
            <div class="card precios-card">
                <div class="card-body">
                    <h5 class="card-title">Kapping Gel + Nails Art </h5>
                    <p class="card-text p-precios"><img width="48" height="48" src="https://img.icons8.com/color/48/price-tag-usd--v1.png" alt="price-tag-usd--v1"/> Precio: $18000</p>
                </div>       
            </div>
            <div class="card precios-card">
                <div class="card-body">
                    <h5 class="card-title">Manicuria Rusa</h5>
                    <p class="card-text p-precios"><img width="48" height="48" src="https://img.icons8.com/color/48/price-tag-usd--v1.png" alt="price-tag-usd--v1"/> Precio: $8000</p>
                </div>
            </div>
            <div class="card precios-card">
                <div class="card-body">
                    <h5 class="card-title">Retirado de servicio</h5>
                    <p class="card-text p-precios"><img width="48" height="48" src="https://img.icons8.com/color/48/price-tag-usd--v1.png" alt="price-tag-usd--v1"/> Precio: $5000</p>
                </div>
            </div>
            <div class="card precios-card">
                <div class="card-body">
                    <h5 class="card-title">Service</h5>
                    <p class="card-text p-precios"><img width="48" height="48" src="https://img.icons8.com/color/48/price-tag-usd--v1.png" alt="price-tag-usd--v1"/> Precio: $14000</p>
                </div>
            </div>
            <div class="card precios-card">
                <div class="card-body">
                    <h5 class="card-title">Pedicuria</h5>
                    <p class="card-text p-precios"><img width="48" height="48" src="https://img.icons8.com/color/48/price-tag-usd--v1.png" alt="price-tag-usd--v1"/> Precio: $11000</p>
                </div>
            </div>
        </div>
<!-- /// -->
        <div class="container-turnos">
            <p>❤️ Nuestros profesionales</p>
            <div class="profesionales-carousel">
                {% for profesional in profesionales %}
                <div class="profesional-card">
                    <div class="card-body">
                        <!-- Título del nombre -->
                        <h5 class="card-title">{{ profesional.nombre }}</h5>
                        <!-- Imagen de uñas -->
                        <img class="nails" src="{{ profesional.especialidad_img }}"  alt="uñas"/>
                        <!-- Información del profesional -->
                        <p class="card-text" style="font-size: smaller;">{{ profesional.especialidad }}</p>
                        <li class="card-text">{{ profesional.servicio_especial }}</li>
                        <!-- Botón de reserva -->
                        <a href="{{ url_for('calendar_profesional', profesional_id=profesional.id) }}" class="btn">Reservar</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
</main>
<!-- Footer -->
    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <!-- Logo -->
                <div class="col-md-4 d-flex justify-content-center mb-3 mb-md-0 footer-logo">
                    <img src="https://img.icons8.com/pulsar-color/96/nails.png" alt="Logo"/>
                    <span>NailsPro</span>
                </div>
                <!-- Social Icons -->
                <div class="col-md-4 d-flex justify-content-center mb-3 mb-md-0 social-icons">
                    <a href="#" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
                        <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/github.png" alt="github"/>
                    </a>
                    <a href="https://twitter.com" target="_blank" rel="noopener noreferrer" aria-label="Twitter">
                        <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/linkedin.png" alt="linkedin"/>
                    </a>
                </div>
                <!-- Copyright and Credits -->
                <div class="col-md-4 d-flex flex-column justify-content-center align-items-center">
                    <p class="copyright mb-0">&copy; 2024 NailsPro. Todos los derechos reservados.</p>
                    <p class="block text-sm credits">Made with ❤️ by Griselda Sanchez</p>
                </div>
            </div>
        </div>
    </footer>
        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>