<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>test</h1>
    <div class="cards-container">
        {% for turno in turno_cliente %}
        <div class="card">
            <div>
                <div class="data-date">
                    <p><strong>Fecha:</strong> {{ turno.fecha.strftime('%d-%m-%Y') }}</p>
                    <p><strong>Hora:</strong> {{ turno.hora_inicio }}</p>
                    <p><strong>Servicio:</strong> {{ turno.servicio }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    



    
</body>
</html>